
<%- include partials/head %>


<div class="container">
        <div class="card bg-light">
            <div class="form-group input-group">
                <% if (message.length > 0) { %>
                  <div class="alert alert-danger col-sm-12"><%= message %></div>
                <% } %>
                 </div>
                 
                <article class="card-body mx-auto" style="max-width: 400px;">
                    
                <form  class="form-horizontal" role="form" method="post" action="/login">
                       
                    <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                                <input id="handle" type="text" class="form-control" name="username" placeholder="Username" required>
                            </div>
                            
                            <div class="col-md-12" >
                                    <a href="#">Forgot handle?</a>
                                </div>
                    <br><br>
                            <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                                </div> <!-- form-group// -->      
                                <p class="text-center">Don't have an account? <a href="/signup">Signup</a> </p>  
                        
                    </form>

            </article>
        </div> <!-- card.// -->
        
        </div> 
        <!--container end.//-->
        
<br><br><br><br><br><br> <br><br>

</body>
</html>
<%- include partials/foot %>